body{
    background-colo:;
}
.card{
  display:inline-block; 
  margin: auto; 
  justify-content: center;
}
.navbar-lewagon {
    justify-content: space-between;
    background: white;
  }
  
  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-lewagon .navbar-brand img {
    width: 40px;
  }
  